# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb
*.so
*.egg-info/
*.egg

# Jupyter
.ipynb_checkpoints/

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# VS Code
.vscode/

# Data 
*.csv
*.xlsx
*.parquet
data/raw/
data/processed/

# Models 
models/
